.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-navigation-actions {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.navigation-navigation-toggle-icon1 {
  color: var(--color-primary);
  display: flex;
  position: absolute;
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-icon2 {
  color: var(--color-primary);
  display: flex;
  opacity: 0;
  position: absolute;
  transform: rotate(90deg) scale(0.8);
  transition: all var(--animation-duration-standard)
      var(--animation-curve-primary);
  align-items: center;
  justify-content: center;
}
 
.navigation-navigation-toggle-glow {
  inset: 0;
  opacity: 0;
  position: absolute;
  background: radial-gradient(
      circle at center,
      color-mix(in srgb, var(--color-primary) 30%, transparent),
      transparent 70%
    );
  transition: opacity var(--animation-duration-standard)
      var(--animation-curve-primary);
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}
